## Visual Studio 相關
.vs/
bin/
obj/
*.user
*.suo
packages/

## 資料庫檔案
App_Data/*.mdf
App_Data/*.ldf

## 使用者上傳的內容
Images/

## 暫存檔案
[Tt]emp/
*.tmp
*.log

## Content 和 Scripts 中不需要的檔案
Content/*
!Content/Site.css
!Content/shared.css
!Content/bootstrap.css
!Content/bootstrap.min.css
!Content/all.min.css

Scripts/*
!Scripts/shared.js
!Scripts/jquery-3.7.1.min.js
!Scripts/bootstrap.bundle.min.js


